.btn {
  width: 4rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 12px;
  background: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn.active {
  background-color: #18cc51;
}

.btn.inactive {
  color: #cf0e15;
  border: 3px solid #cf0e15;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #d1d5db;
  transform: scale(1.05);
}
